<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Bubbley 404</title>
  {% load static %}
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'><link rel="stylesheet" href="{% static  'style.css' %}">

</head>
<body>

<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="bubble"></div>
<div class="main">
  <h1>User Not Found</h1>
  <p>It looks like you're lost...<br/>That's a trouble?</p>
  <button type="button">Go back</button>
</div>

  <script  src="./script.js"></script>

</body>
</html>
